body {
    background: rgb(190, 174, 153);
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 25% auto 10%;
    grid-gap: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

#homeLogo {
    max-width: 60%;
    height: auto;
    padding: 0 15px;
}

a {
    text-decoration: none;
}

header {
    grid-row: 1;
    grid-column: 1 / span 2;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 48px;
    grid-gap: 3px;
    background: rgb(165, 117, 85);
}

main {
    grid-row: 2;
    grid-column: 1;
    padding: 5px 10px 10px 20px;
}

aside {
    grid-row: 2;
    grid-column: 2;
    padding: 40px 15px 10px 20px;
}

footer {
    grid-row: 3;
    grid-column: 1 / span 2;
    background:rgb(61, 56, 49);
    color: white;
    text-align: center;
}

footer p {
    padding-left: 20px;
    font-size: 12px;
}

nav {
    grid-row: 2;
    grid-column: 1 / span 4;
}

#homelogo {
    grid-row: 1;
    grid-column: 1;
    align-self: center;
}

header h1 {
    grid-row: 1;
    grid-column: 2 / span 3;
    align-self: center;
    margin: 10px 0 0 0;
    font-size: 42px;
    font-weight: bolder;
}

header h2 {
    grid-row: 1;
    grid-column: 2 / span 3;
    margin: 0;
    padding-left: 10px;
    align-self: end;
    font-weight: normal;
    font-style: italic;
}

nav ul {
    list-style: none;
    display: grid;
    padding-left: 0;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-gap: 3px;
}

nav ul li {
    background: rgb(61, 56, 49);
    line-height: 30px;
}
nav ul li a {
    color: white;
    font-style: italic;
}

#about {
    grid-column: 1;
    text-align: center;
}

#work {
    grid-column: 2;
    text-align: center;
}

#blog {
    grid-column: 3;
    text-align: center;
}

#contact {
    grid-column: 4;
    text-align: center;
}

#codeCoffee {
    display: block;
    max-width: 100%;
    height: auto;
}

div h2 {
    padding: 0 20px;
    margin-top: 20px;
}

.about p { 
    padding-bottom: 15px;
    border-bottom: 1px gray solid;
}

aside h3 {
    padding-left: 20px;
    font-size: 22px;
}